@import url('https://fonts.googleapis.com/css2?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
 body
{
 min-height: 100vh;
 background: linear-gradient(#2b1055, #7597de)
}
 header
{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 padding: 30px 100px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 1000;
}
a img
{
 width: 150px;
 height: 150px;
 margin-left: 10px;
}
 header ul
{
 display: flex;
 justify-content: center;
 align-items: center;
}
 header ul li
{
 list-style: none;
 margin-left: 20px;
}
 header ul li a
{
 text-decoration: none;
 padding: 6px 15px;
 color: #fff;
 border-radius: 20px;
}
 header ul li a:hover,
 header ul li a.active
{
 background: #fff;
 color: #2b1055;
}
 section
{
 position: relative;
 width: 100%;
 height: 100vh;
 padding: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
}
section::before
{
 content: '';
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 100px;
 background: linear-gradient(to top,#1c0522, transparent);
 z-index:1000;
}
 section img
{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}
 section img#moon
{
 mix-blend-mode: screen;
}
 #text
{
 position: absolute;
 color: #fff;
 white-space: nowrap;
 font-size: 7.5vw;
 z-index: 9;
}
#info
{
 text-decoration: none;
 display: inline-block;
 padding: 8px 30px;
 border-radius: 40px;
 background: #fff;
 color: #2b1055;
 font-size: 1.5em;
 z-index: 9;
 transform: translateY(100px);
}
.sec
{
 position: relative;
 padding: 100px;
 background: #1c0522;
}
.sec h2
{
 font-size: 40px;
 margin-bottom: 70px;
 padding: 20px;
 color: #fff;
 text-align: center;
}
.GamPlatfroms
{
 display: grid;
 grid-template-rows: repeat(4, 1fr);
 grid-gap: 2em;
 justify-items: center;
}
.sec > div > div > a > img
{
width: 300px;
height: 300px;
}
#Nintendo_Switch
{
 width: 500px;
 height: 300px;
 margin-bottom: 10px;
 padding: 20px;
}
.sec > div > div > h3
{
 font-size: 40px;
 margin-bottom: 10px;
 padding: 20px;
 color: #fff;
 text-align: center;
}
.sec > div > div > p
{
 text-align: center;
 font-size: 20px;
 margin-bottom: 10px;
 padding: 20px;
 color: #fff;
 border: 3px inset purple;
 border-radius: 25px;
}
#PS5
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#Xbox_Series_X
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#Nintendo_Switch
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#gaming_pc
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sec > div > div > div > p
{
 text-align: center;
 font-size: 20px;
 margin-bottom: 10px;
 padding: 20px;
 color: white;
 border: 3px inset purple;
 border-radius: 25px;
}
div div div p a
{
text-decoration: none;
font-family: "Copperplate",Fantasy;
font-size: 30px;
color: aqua;
}
div div div p a:hover
{
 background: #fff;
 color: #2b1055;
 border-radius: 10px;
 border: 3px solid #B879DA;
}
footer
{
 background: #250F2A;
 height: auto;
 width: 100vw;
 padding-top: 40px;
 color: #fff;
}
.footer-content
{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;
}
.footer-content h3
{
 font-size: 40px;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 3rem;
}
.footer-content p
{
 max-width: 500px;
 margin: 10px auto;
 line-height: 28px;
 font-size: 14px;
}
.socials
{
 list-style: none;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 1rem 0 3rem 0;
}
.socials li
{
margin: 0 10px;
}
.socials a
{
 text-decoration: none;
 color: #fff;
}
.socials a i
{
 font-size: 1.1rem;
}
.socials a:hover i
{
 color: aqua;
}
hr
{
 width: 100%;
 text-align: left;
 margin-left: 0
}