@import url('https://fonts.googleapis.com/css2?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
 body
{
 min-height: 100vh;
 background: linear-gradient(#2b1055, #7597de)
}
 header
{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 padding: 30px 100px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 1000;
}
a img
{
 width: 150px;
 height: 150px;
 margin-left: 10px;
}
 header ul
{
 display: flex;
 justify-content: center;
 align-items: center;
}
 header ul li
{
 list-style: none;
 margin-left: 20px;
}
 header ul li a
{
 text-decoration: none;
 padding: 6px 15px;
 color: #fff;
 border-radius: 20px;
}
 header ul li a:hover,
 header ul li a.active
{
 background: #fff;
 color: #2b1055;
}
 section
{
 position: relative;
 width: 100%;
 height: 100vh;
 padding: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
}
section::before
{
 content: '';
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 100px;
 background: linear-gradient(to top,#1c0522, transparent);
 z-index:1000;
}
 section img
{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

#info
{
 text-decoration: none;
 display: inline-block;
 padding: 20px 30px;
 margin-top: 230px;
 border-radius: 90px;
 background: black;
 color: white;
 font-size: 1.7em;
 z-index: 9;
 transform: translateY(100px);
}
#Xbox
{
 padding: 0px 30px;
 margin-left: 450px;
 margin-top: 50px;
 width: 500px;
 height: 500px;
 z-index: 9;
}
.main_info
{
 position: relative;
 padding: 100px;
 background: #1c0522;
 display: grid;
 grid-template-rows: 1 fr 4 fr 1 fr;
 grid-gap: 2em;
 justify-items: center;
}


div .h2
{
border: 6px solid white;
height: 80px;
border-radius: 25px;
border-style: groove;
}
div div h2
{
 font-size: 30px;
 margin-bottom: 70px;
 padding: 20px;
 color: #fff;
 text-align: center;
 width: 730px;
 margin:0;
 text-align: center;
}
#T
{
   font-family: "Pathways",Helvetica,sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 5.2em;
   color: pink;
   float: left;
   line-height: 1;
   margin: 0 0.1em 0 0;
   position: relative;
   text-indent: 0;
   box-sizing: border-box;
   text-decoration: inherit;
   vertical-align: inherit;
}
div div p
{
 font-size: 20px;

 color: #fff;
}
div>div
{
 padding: 4px;
 margin: 10px;
}
div .video
{
width: 570px;
border: 2px solid white;
border-style: inset;
}
div .text
{
width: 730px;
}
div div p a
{
color: pink;
}
hr{
border: 1.7px solid white;
}
footer
{
 background: #250F2A;
 height: auto;
 width: 100vw;
 padding-top: 40px;
 color: #fff;
}
.footer-content
{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;
}
.footer-content h3
{
 font-size: 40px;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 3rem;
}
.footer-content p
{
 max-width: 500px;
 margin: 10px auto;
 line-height: 28px;
 font-size: 14px;
}
.socials
{
 list-style: none;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 1rem 0 3rem 0;
}
.socials li
{
margin: 0 10px;
}
.socials a
{
 text-decoration: none;
 color: #fff;
}
.socials a i
{
 font-size: 1.1rem;
}
.socials a:hover i
{
 color: aqua;
}
hr
{
 width: 100%;
 text-align: left;
 margin-left: 0
}