img{
width:1200px;
height:675px;
float:left;
margin-right:20px;
}
hr{
border-color:blue;
border-width:2px;
width:1410px;
}
.text{
border:6px solid blue;
font-weight:750;
font-family: "Courier New", Courier, monospace;
color:#121F51
}
span:{
color:#000000
}
span:hover {
background-color:#22C6B2;
color:#FFFFFF;
}